{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <div class="row">

    <div class="alert alert-info col-md-12">
    <h1> Articles en ligne </h1>

    <div class="ArticleBrouillon">
    <a href="{{ path('article_new') }}"><input type="button" value="Creer un article"></a>
    <a href="#"> <input type="button" value="Mes brouillons"> </a>
  </div> <!--ArticleBrouillon -->

</div> <!-- alert-info -->



    {% for article in articles %}
    <div class="well col-md-12 article">
      <a href="{{ path('article_edit', { 'id': article.id }) }}"><input type="button" value="Modifier"></a>

        <h2 class="col-md-12">{{ article.title }}</h2>
        <p class="col-md-12">{{ article.content }}
        </p>
      <a class="col-md-12" href="  {{ path('article_show', { 'id': article.id }) }}"> Voir </a>
    </div>
      {% endfor %}


    </div><!--Row-->

</div><!--Container -->
{% endblock %}
