{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <div class="well col-md-12">
    <h2>{{ article.title }}</h2>

    <p>{{ article.content }}
    </p>

    <ul>
  <li>
    <a href="{{ path('article_index') }}">Retour aux articles </a>
  </li>

  <li>
    <a href="{{ path('article_edit', { 'id': article.id }) }}"> Modifier</a>
  </li>
</ul>

    {{ form_start(delete_form) }}
    <input type="submit" value="Supprimer">
    {{ form_end(delete_form) }}

</div>
</div>



{% endblock %}
